{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
<div id="content">
    <h2>{{ object.title }}</h2>
    <table class="photo-detail">
        <tr>
            <td>
                <a href="{{ object.image.url }}">
                    <img style="max-width:100%" src="{{ object.image.url }}" />
                </a>
            </td>
            <td>
                <ul>
                    <li>설명</li>
                    {% if object.description %}
                        <p>{{ object.description|linebreaks }}</p>
                    {% else %}
                        <p>(blank)</p>
                    {% endif %}
                    <li>등록 일시</li>
                    <p>{{ object.upload_date|date:"Y년 m월 d일 H시 i분" }}</p>
                    <!--https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs-->
                    <li>앨범</li>
                    <p><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></p>
                </ul>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
