<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}장고 웹 프로그래밍{% endblock %}</title>

{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'css/base.css' %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

<div id="header">                                           <!-- ch11 div#header 수정 -->
    <h2 class="maintitle">쉽고 빠른 장고 웹 프로그래밍</h2>
    {% if user.is_active %}
        <h4 class="welcome">환영,
            <strong>{% firstof user.get_short_name user.get_username %}</strong>님. /
            <a href="{% url 'password_change' %}">비밀번호 변경</a> /
            <a href="{% url 'logout' %}">로그아웃</a>
        </h4>
    {% else %}
        <h4 class="welcome">익명 손님. /
            <a href="{% url 'login' %}">로그인</a> /
            <a href="{% url 'register' %}">회원 가입</a>
        </h4>
    {% endif %}
</div>

<div id="menu">
    <li><a href="{% url 'home' %}">홈</a></li>
    <li><a href="{% url 'bookmark:index' %}">책갈피</a></li>
    <li><a href="{% url 'blog:index' %}">게시판</a></li>
    <li><a href="{% url 'photo:index' %}">사진첩</a></li>

    <li><a href="#">추가&bigtriangledown;</a>
        <ul>
            <li><a href="#">책갈피</a></li>
            <li><a href="#">게시판</a></li>
	        <li><a href="#">사진첩</a></li>
        </ul>
    </li>
    <li><a href="#">편집&bigtriangledown;</a>
        <ul>
            <li><a href="#">책갈피</a></li>
            <li><a href="#">게시판</a></li>
	        <li><a href="#">사진첩</a></li>
        </ul>
    </li>

    <li><a href="{% url 'blog:post_archive' %}">저장소</a></li>
    <li><a href="{% url 'blog:search' %}">검색</a></li>
    <li><a href="{% url 'admin:index' %}">관리자</a></li>
</div>

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>
